{% extends 'chess_app/base.html' %}

{% block navbar-nav %}
    {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'game' %}">Create game</a>
        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
    {% endif %}
{% endblock navbar-nav %}

{% block content %}
    <h2>You have been logged out</h2>

    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
{% endblock content %}